.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .overlay-button {
    position: absolute;
    bottom: 50px;
    right: 625px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 90;
  }